.joinScreen {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.joinScreen>form {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media screen and (max-width: 993px) {
    .joinScreen>form {
        width: 85%;
    }
}